
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A R P A</title>
    <link rel="shortcut icon" href="/public/img/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/rpApp/public/css/styleIN.css">
</head>
<body>
  <div class="topnav-container">
      <div class="logoIN"><a href="./login.html"></a></div>
      <div class="topnav">
        <a href=""><i class="fa fa-gear"></i></a>
        <a href=""><i class="fa fa-bar-chart"></i></a>
        <a href=""><i class="fa fa-user-circle-o"></i></a>
        <a href=""><i class="fa fa-sign-out"></i></a>
      </div>
    </div>
    <div>
        <a </a>
    </div>
    
    <div class="row">
        <div class="column">
          <div class="card">
            <h5>Personas</h5>
          </div>
        </div>
      
        <div class="column">
          <div class="card">
            <h5>Auditorias</h5>
          </div>
        </div>
        
        <div class="column">
          <div class="card">
            <h5>Reportes</h5>
          </div>
        </div>
        
        <div class="column">
          <div class="card">
            <h5 style="color: red;">Alertas</h5>
          </div>
        </div>
    </div>
    <div id="piechart"></div>
</body>
</html>