<!DOCTYPE html>
<html lang="es">

<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Recuperar contrasena</title>
      <link rel="shortcut icon" href="/public/img/favicon.png" type="image/x-icon">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="/rpApp/public/css/style.css">
</head>

<body>
  <div class="item">
    <a href="./login.html"><i class="logo" id="logo"></i></a>
  </div>

  <?php if (isset($error)): ?>
        <p><?php echo $error; ?></p>  
  <?php endif; ?>

<div class="container">
  <div class="form">
    <form method="post">
      <div class="input-group">
        <i class="fa fa-envelope"></i>
        <input type="email" id="correo" name="correo" placeholder="Correo" required>
      </div>
      <div class="input-group">
        <i class="fa fa-lock"></i>
        <input type="submit" value="Recuperar contraseña">
      </div>
    </form>
    <div class="item">
      <a href="./login.html"><i class="fa fa-edit"></i>Ingresar</a>
    </div>
  </div>
</div>
</body>
</html>

